@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.logo {
    width: 80px;
}

:root {
    --main-color:#1d383d;
    --accent-color: #ff9800;
    font-family: 'Noto Sans', sans-serif;
}

body{
    position: relative;
}

* a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 600;
}
a:hover{
    color: var(--main-color);
}

h1,
h2,
h3,
h4 {
    font-family: 'Fredoka One', cursive;
    color: var(--accent-color);
}

.h1,
.h2,
.h3 {
    color: var(--main-color);
}

nav {
    transition: 0.3s;
}

.bordo {
    box-shadow: 0px 0px 20px rgba(39, 39, 39, 0.178);
}



.article img {
    border-top: 2px solid #57575721;
    border-left: 2px solid #57575721;
    border-right: 2px solid  #57575721;
    padding: 5px;
    width: 100%;
}




header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 500px;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.603);
    background: linear-gradient(transparent, white);
    opacity: 1;
    z-index: 1;
  }
  

/* .bg-header {
    position: relative; 
    height: 100vh;
    width: 100%;
    min-height: 500px;
    
}

.bg-header::before {    
      content: "";
      background-image: linear-gradient(rgba(255, 255, 255, 0), white), url(media/bg-header.jpg);
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.6;
} */

.cont-header {
  position: relative;
  color: #383838;  
  line-height: 0.9;
  text-align: center;
  z-index: 0;
}

.bg-custom {
    background-color: white;
}

.bg-custom-slide {
    background-color: rgba(255, 255, 255, 0.51);
    padding: 60px;
}


.bg-custom-card1 {
    background-color: #ff9800;
}

.bg-custom-card2 {
    background-color: #006da0;
}

.bg-custom-card3 {
    background-color: #a00015;
}

.bg-custom-card4 {
    background-color: #3ba000;
}

.cards {
    position: relative;
    top: -70px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.158);
    margin:0 auto;
    transition: 0.5s linear all ;
    border-radius: 15px;
    width: 250px;
    height: 170px;
    z-index:10;
}


.cards:hover{
transform: scale(1.1);
}

.icon {
    font-size: 28px;

}

.login-icon {
    font-size: 18px;
    color: var(--main-color);
}

.login-icon a {
    color: var(--main-color);
    text-decoration: none;
}

.login-icon a:hover {
    color: var(--accent-color);
}

.bg-custom-newsletter {
    background-color: #bbbbbb15;
    padding: 50px;
    min-height: 150px;
}

.button-news {
    border: 2px solid var(--accent-color);
    width: 100%;
}
.button-news a{
    color: var(--main-color);
}
.button-news a:hover{
    color: white;
    font-weight: 700;
}

.button-news:hover {
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
}

.button,
.button2,
.button3,
.button4 {
    border: 2px solid white;
}

.button a,
.button2 a,
.button3 a,
.button4 a {
    text-decoration: none;
    color: white;
}

.button a:hover{
    color: var(--accent-color) !important;
    font-weight: 700;
}
.button2 a:hover{
    color: #006da0 !important;
    font-weight: 700;}

.button3 a:hover{
    color: #a00015 !important;
    font-weight: 700;
}

.button4 a:hover{
    color: #3ba000 !important;
    font-weight: 700;
}
.button:hover {
    background-color: white;
    border: 2px solid white; 
}

.button2:hover {
    background-color: white;
    border: 2px solid white;
   
}

.button3:hover {
    background-color: white;
    border: 2px solid white;
    
}

.button4:hover {
    background-color: white;
    border: 2px solid white;
    
}

.footer {
    background-color: var(--main-color);
    min-height: 300px;
    color: rgb(247, 247, 247);
}

.footer-copyright{
    background-color: var(--main-color);
    height: 50px;
    color: rgb(247, 247, 247);
}

.footer img {
    width: 80px;
}

.chat-box{
    background-color:var(--accent-color);
    border-radius: 50%;
    box-shadow: 0px 0px 10px #1d383d23;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 10px;
    bottom: 0px;
    z-index:20;
 
}


.i-chat-box{
   font-size: 24px;
   color:white;
   position: absolute;
   top: 12px;
   left: 18px;
    
}

.card-chat{
    height: 460px;
    width: 325px;
    box-shadow: 0px 0px 10px #1d383d23;
    border-radius: 10px;
    position: fixed;
    right: 10px;
    bottom: 70px;
    background-color: white;
    z-index:19;
    overflow: hidden;
    
}


.head-card{
    background-color: var(--accent-color);
    color: rgb(247, 247, 247);
    font-weight: 700;
}

.social {
    border-left: 2px solid var(--accent-color);
    height: auto;
    padding-left: 20px;
    
}

.border-annuncio{
    border-left: 2px solid var(--accent-color);
    padding-left: 20px;
}
.social a {
    color: white;
}

.social a:hover {
    color: var(--accent-color);
}


.contacts {
    list-style: none;
    padding-left: 0px;
}

.contacts li {
    padding-right: 20px;
    padding-left: 20px;
    border-left: 2px solid var(--accent-color);
}

.content-news {
    background-color: rgb(255, 255, 255);
    padding: 40px;
}



/* @media (max-width: 575.98px) {} */


/* CAROUSEL */

.swiper-container {
    width: 100%;
    height: auto;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.swiper-slide img {
    display: block;
    width: 50%;
}

 @media only screen and (max-width: 579px){
    .swiper-slide img {
        display: block;
        width: 80%;
    }
} 



@media only screen and (min-width: 769px) {
    .swiper-slide:first-child {
        transition: transform 100ms;
    }

    .swiper-slide:first-child img {
        transition: box-shadow 500ms;
    }

    .swiper-slide.swiper-slide-active:first-child {
        z-index: 2;
    }

    


    .swiper-slide:nth-child(2) {
        transition: transform 100ms;
    }

    .swiper-slide.swiper-slide-next:nth-child(2) {
        
        z-index: 1;
    }

    .swiper-container[dir=rtl] .swiper-slide.swiper-slide-active:first-child {
        transform: translateX(-50%);
    }

    .swiper-container[dir=rtl] .swiper-slide.swiper-slide-next:nth-child(2) {
        transform: translateX(-55%);
    }
}







/* PAGINA ARTICOLI */

.bg-header-2{
    background: linear-gradient(white, rgba(255, 255, 255, 0), white), url(media/bg-header2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-height: 300px;
}